{% extends 'base.html' %}
{% block content %}

<div class="container mt-3">
    <h2>Input Form</h2>
      <div class="mb-3 mt-3">
        <label for="name">Name:</label>
        <input onkeyup="name_validate()" id="name" type="character" class="form-control"  placeholder="Enter name" name="name">
        <div style="color:red" id="name_error" class="form-text"></div>
      </div>
      <div class="mb-3">
        <label for="pwd">Contact:</label>
        <input type="name" class="form-control"  placeholder="Enter contact address" name="contact">
      </div>
      <div class="mb-3">
        <label for="businessSelect" class="form-label">Select Business</label>
        <select id="businessSelect" class="form-select">
            {% for business in business_list %}
            <option>{{ business.name }}</option>
              {% endfor %}  
        </select>
 
      </div>  
  
      <div class="mb-3">
        <label for="pwd">Phone Number:</label>
        <div class="row">
            <input onkeyup="phone_validate()" id="phone_number" type="integer" class="form-control" placeholder="Enter contact address" name="phone">
        </div>
        <div style="color:red" id="phone_number_error" class="form-text"></div>

      </div>
      <div style="color:red" id="display_error" class="form-text"></div>

      <button id="submit" type="submit" class="btn btn-primary">Submit</button>
  </div>
  <script>
    $('#submit').click(function(){


             
//===============================================================ajax start
if( email_check== true && password_check == true && first_name_input == true && last_name_input == true && phone_number_input == true && confirm_password_check ==true)
    {
        $.ajax({

        })//ajax end
     
    }
    else{
        document.getElementById('display_error').innerHTML="Enter Valid Credentials"

    }
})
///click function ended=====================================
// form validation====================================
      
            var name_input = false
            var phone_number_input = false

            

            function name_validate(){

                var name_regex=/^[a-zA-Z ]{1,30}$/;
                
                var name_from_input =document.getElementById('name').value
                if (name_regex.test(name_from_input)){
                    document.getElementById('name_error').innerHTML=""
                    name_input=true
                    console.log("name",name_input)

                }
                else{
                    document.getElementById('name_error').innerHTML="not valid name"
                    name_input=false
                    console.log("name",name_input)

                }

            }
            

           
      function phone_validate(){
            var phone_number=document.getElementById('phone_number').value
            var phone_regex=/^\d{10}$/
            var name_regex=/^[a-zA-Z ]{1,30}$/;

            var phone_number_check_alphabet=document.getElementById('phone_number').value
            lastIndex = phone_number_check_alphabet.length;
            phone_number_check_alphabet = phone_number_check_alphabet[lastIndex - 1] 

            if(name_regex.test(phone_number_check_alphabet)){

            document.getElementById('phone_number_error').innerHTML="Phone number only allows digits"
            phone_number_input=false

            }              
            else if (phone_regex.test(phone_number)){
                document.getElementById('phone_number_error').innerHTML=""
                phone_number_input=true

            }        
 
            else if(phone_number.length<10){

                document.getElementById('phone_number_error').innerHTML="Phone number less than 10 is not valid"
                phone_number_input=false

            }
            else if(phone_number.length>10){
                document.getElementById('phone_number_error').innerHTML="Phone number greater than 10 is not valid"
                phone_number_input=false
            }
            else{
                document.getElementById('phone_number_error').innerHTML="enter valid phone number"
            }
        }

      


       
                           
    </script>
  {% endblock content %}